@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}


.container h1{
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 30%;
    margin-left: 6%;
}
.navbar>ul>li>a{
    padding: 0% 7%;
}
.navlogo {
    height: 3rem;
}

#header {
    background-color: #353535;
    background-image: url(../images/ok.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.headerimage{
   width : 100%;
   display:none;
}
.container p{
    color:#fdfdfd;
    font-family: Poppins;
    margin-top: 15%;
    text-align: center;
} 
.container h3{
    text-align: center;
    color:black;
    font-weight: 900;
    margin-top: 10%;
    font-size: 3rem;
    font-family: Poppins;
}
span{
    color:#f9004d;
}
#pricing{
    background-color: white;
    text-align: center;
    
}
.row h4{
    font-family: Poppins;
    margin: 5%;
    font-size: 2.5rem;
    color: black;
    font-weight: 900;
}
.card{
    margin: 10% 0%;
}
.row h5{
    font-size: 3rem;
    color: white;
}
.fa-brands{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    margin: 0% 2%;
}
#footer{
    text-align: center;
    background-color:white;
    
}
.nope p{
    color: #020000;
    margin: 3% 0%;
    font-size: 1rem;
}
.nope p a{

    text-decoration: none;
}
.joss{
    width: 90%;
    border-radius: 30px;
    margin: 35px 0px 0px 50px;
}
#Service{
    padding: 0% 5%;
    background-color: white;
}
article{
    padding-top: 20%;
    font-family: Poppins;
    font-size: 19px;
    line-height: 1.9;
    color: rgb(198, 191, 191);
}
.srnc{
    margin-top: 5%;
}
.log{
    width: 100%;
    margin-top: 5%;
}
.nk{
    padding-bottom: 20px;
}